<table class='a-table'>
  <tr class='a-tr'>
    <th class='a-th'></th>
    <th class='a-th'>%</th>
    <%@assignment_names.each do |repo_name|%>
      <td class='a-td bold centered'><%=repo_name%></td>
    <%end%>
  </tr>
  <%@students.each do |student|%>
    <tr class='a-tr'>
      <th class='a-th bold'><%=student.first_name%></th>
      <th class='a-th bold'><%=@student_grades[student.github_handle]%></th>
      <%= render 'assignments_table_row', student: student %>
    </tr>
  <%end%>
</table>
