<td class="vertical-center">
  <label class="radio-button-container" >
    <input type="radio" name=<%=first_name%> value=<%=content%> <%=@date_today == @class_dates.first && @student_attendance[first_name].first == content && 'checked'%>>
    <span class='<%='checkmark ' + color%>'></span>
  </label>
</td>
