<td>
  <label class="radio-button-container" onmouseover='checkChildButton(this)'>
    <input type="radio" name=<%=first_name%> value=<%=content%> <%=@student_attendance[first_name].first == content && 'checked'%>>
    <span class='<%='checkmark ' + color%>'></span>
  </label>
</td>
