<%@assignments.each do |assignment|%>
  <div>
   Repository name: <%=assignment.repo_name%>
   Github User: <%=assignment.student.github_handle%>
  </div>
<%end%>
<%@students.each do |student|%>
  <div>
   Github handle: <%=student.github_handle%>
   Platoon: <%=student.platoon%>
  </div>
<%end%>
