<form>
  <%= select_tag 'platoon', options_for_select(@platoons, @platoon), action: '/', method: 'get', onchange: 'this.form.submit();'%>
</form>
<div class='container'>
  <div class='fixed-th-table-wrapper'>
    <%= render 'table', assignment_names: @assignment_names, students: @students, student_progress: @student_progress %>
  </div>
  <div class='scrolled-td-table-wrapper'>
    <%= render 'table', assignment_names: @assignment_names, students: @students, student_progress: @student_progress %>
  </div>
</div>
