<table >
  <tr>
    <th></th>
    <%@assignment_names.each do |repo_name|%>
      <th><%=repo_name%></th>
    <%end%>
  </tr>
  <%@students.each do |student|%>
    <%= render 'student', student: student, assignment_names: @assignment_names, student_progress: @student_progress %>
  <%end%>
</table>
