// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr td { opacity: .5; }
tr.opaque td { opacity: 1; }
tr:hover td {
  opacity: 1;
}
body {
  background-image: image-url("mountain-sun-river-sky-cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.white {
  background-color: white
}
.attendance {
  width: 212px;
}

/*For Fixed columns on table*/
  /* important styles */

  .table-container {
     /* Attach fixed-th-table to this container,
        in order to layout fixed-th-table
        in the same way as scolled-td-table" */
     position: relative;

     /* Truncate fixed-th-table */
     overflow: hidden;
  }

  .fixed-th-table-wrapper td,
  .fixed-th-table-wrapper th,
  .scrolled-td-table-wrapper td,
  .scrolled-td-table-wrapper th {
     /* Set background to non-transparent color
        because two tables are one above another.
      */
     background: white;
  }
  .fixed-th-table-wrapper {
     /* Make table out of flow */
     position: absolute;
  }
  .fixed-th-table-wrapper th {
      /* Place fixed-th-table th-cells above
         scrolled-td-table td-cells.
       */
      position: relative;
      z-index: 1;
  }
  .fixed-th-table-wrapper td {
      opacity: 0;
  }
  .scrolled-td-table-wrapper td {
      /* Place scrolled-td-table td-cells
         above fixed-th-table.
       */
      position: relative;
  }
  .scrolled-td-table-wrapper {
     /* Make horizonal scrollbar if needed */
     overflow-x: auto;
  }


  /* Simulating border-collapse: collapse,
     because fixed-th-table borders
     are below ".scrolling-td-wrapper table" borders
  */

  .a-table {
      border-spacing: 0;
  }
  .a-td, .a-th {
     border-style: solid;
     border-color: black;
     border-width: 1px 1px 0 0;
  }
  .a-th:first-child {
     border-left-width: 1px;
  }
  .a-tr:last-child td,
  .a-tr:last-child th {
     border-bottom-width: 1px;
  }

  /* Unimportant styles */

  th {
     padding: 5px;
     opacity: 1;
  }

  td {
    padding: 8px 18px 3px 3px;
  }

/*For Radio Buttons*/
  /* The container */
  .radio-button-container {
      display: block;
      position: relative;
      padding-left: 25px;
      padding-bottom: 22px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      border-radius: 50%;
      user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio-button-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
  }

  .checkmark.green {
    background-color: green
  }
  .checkmark.yellow {
    background-color: yellow
  }
  .checkmark.red {
    background-color: red
  }

  /* On mouse-over, add a grey background color */
  .radio-button-container:hover input ~ .checkmark {
      background-color: #ccc;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-button-container input:checked ~ .checkmark:after {
      display: block;
  }

  /* Style the indicator (dot/circle) */
  .radio-button-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }

  .vertical-center {
    padding-top: 13px;
    padding-bottom: 13px;
  }
